rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/admin { allow read, write: if false; }
    match /config/site { allow read, write: if false; }
    match /rateLimits/{id} { allow read, write: if false; }
  }
}